*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(89, 89, 216);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    display: flex;
    padding: 70px;
    width: 100vw;
    height: 100vh;
}

.output{
    margin-left: 30%;
}

.input{
    margin-left: 5%;
}

h3{
    font-size: 24px;
    font-weight: lighter;
}

.input-text{
    width: 250%;
    padding: 20px;
    font-size: 18px;
    height: 70%;
    margin-top: 20px;
    border: 2px solid  rgb(57, 57, 57);
}

.output-text{
    width: 70vh;
    height: 70vh;
    font-size: 18px;
    background-color: rgb(57, 57, 57);
    border-radius: 10px;
    box-shadow: 8px 8px 8px  rgb(40, 40, 40);
    padding-left: 20px;
    padding-top: 20px;
}
  